.btn-default:hover, .btn-default:focus {
	
}

.btn-default:active, .btn-default.active {
	background: red;
	color: white;
}

.wrap {
	padding: 20px 0px;
	border-bottom: 1px dotted #EEE;
	
	&.intro {
		background: url(../img/southport.jpg) center center;
		background-size: cover;
		padding: 20px 0px;
		border: none;
		margin: 50px 0px 0px;
		
		.container {
			padding: 0px 15px;
		}
		
		h1 {
			color: white;
			text-align: center;
		}
		blockquote {
			background: white;
			border-radius: 5px;
			border: none;
			padding: 20px;
		}
		.btn-group {
			margin: 20px 0px;
		}
	}
	&.survey {
		padding: 50px 0px 0px;
		&.odd {
			background: white;
		}
		&.even {
			background: #F6F6F6;
		}
	}
	&.submit {
		.container {
			padding: 0px 15px;
		}
	}
	&.result {
		min-height: 100%;
		width: 100%;
		position: absolute;
		overflow: scroll;
		background: white;
		z-index: 99;
		top: 0px;
		padding: 100px 0px 100px;
		//display: none; 
		.container {
			padding: 0px 15px;
			h2 {
				font-size: 20px;	
			}
			.notes {
				background: #F9F9F9;
				border-radius: 4px;
				border: 1px solid #EEE;
				padding: 20px;
				margin: 0px 15px;
				min-height: 250px;
				img {
					width: 100px;
					height: auto;
					box-shadow: 0px 2px 5px #999;
					border-radius: 4px;
					float: left;
					margin: 0px 20px 0px 0px;
				}
				a.btn {
					margin-top: 20px;
				}
			}
		}
	}
	
	.container {
		padding: 0px;
		p {
			padding: 0px 15px;
		}
	}
}

.visuallyhidden { 
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { 
    clip: auto; 
    height: auto; 
    margin: 0; 
    overflow: visible; 
    position: static; 
    width: auto; 
}

.btn {
	width: 100%;
	margin: 5px 0px;
}

.rdio {
	width: 16.666666%;
	font-size: 12px;
	padding: 26px 0px;
	border-radius: 0px;
}

.btn-group {
	width: 100%;
	background: black;
	&.done {
		background: #CCC;
	}
	.btn-default {
		background: black;
		border: none;
		color: white;
		&.active {
			background: red !important;
		}
		&.unchecked {
			background: #CCC;
		}
	}
}

.contact {
	display: inline-table;
	width: 49%;
	vertical-align: middle;
	margin: 0px;
}

.email-response {
	width: 100%;
	padding: 20px;
	border-radius: 4px;
	margin: 20px 0px 0px;
	p {
		padding: 0px;
		margin: 0px;
	}
}

.actions {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-radius: 3px;
}

.popover-contact {
	width: 100%;
}

#popover-name, .popover-btn {
	width: 100%;
	margin: 5px 0px;
}

.popover {
	margin-top: 0px;
}

h3#submitted-name {
	border-bottom: 1px solid black;
}

@media (min-width: @screen-sm-min) {
	.wrap {
		.container {
			padding: 0px 15px;
			p {
				padding: 0px;
			}
		}
		&.intro {
			h1 {
				text-align: left;
			}
		}	
		&.survey {
			padding: 20px 0px;
		}
		&.result {
			.container {
				h2 {
					font-size: 30px;	
				}
				.notes {
					a.btn {
						margin: 0px;
					}
				}
			}
		}
	}
	
	.btn-group {
		width: auto;
		background: none;
		&.done {
			background: none;
		}
		.btn-default {
			background: white;
			border: 1px solid #cccccc;
			color: #333333;
			border-radius: 4px;
			&.active {
				background: red !important;
				color: white !important;
			}
			&.unchecked {
				background: white;
				color: #DDD;
			}
		}
	}
	
	.btn, .rdio {
		width: auto;
		font-size: 14px;
		padding: 6px 12px;
	}
	.btn {
		margin: 2px 2px;
	}
	.rdio {
		width: 100px;
		margin: 2px 0px;
	}
	
	.contact {
		width: 200px;
	}
}

@media (min-width: @screen-md-min) {
	.wrap {
		&.result {
			.container {
				.notes {
					margin: 0px;
					min-height: auto;
				}
			}
		}
	}
}

@media (min-width: @screen-lg-min) {

}

@media print {
	.wrap {
		display: none;
		&.result {
			padding: 0px;
			display: block;
			.actions {
				display: none;
			}
		}
	}
}
